app:
  jwt:
    secret: "0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
    access-minutes: 15
  refresh:
    days: 14
    pepper: "0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"

server:
  port: 8080
  forward-headers-strategy: native
  tomcat:
    remoteip:
      internal-proxies: .*
  servlet:
    session:
      tracking-modes: cookie

spring:
  config:
    import:
      - "optional:classpath:application-secret.yml"
      - "optional:file:.env[.properties]"
  application:
    name: code-review-ide
  datasource:
#    url: jdbc:mysql://localhost:3306/code_review_ide?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${CLIENT_ID}
            client-secret: ${CLIENT_SECRET}
            scope: read:user,user:email,gist
            redirect-uri: 'https://api.ide.sjm00.link/login/oauth2/code/github'
logging:
  level:
    org.hibernate.SQL: debug
