app:
  jwt:
    secret: "0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
    access-minutes: 15
  refresh:
    days: 14
    pepper: "0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"

server:
  port: 8080

spring:
  config:
    import:
      - "optional:classpath:application-secret.yml"
      - "optional:file:.env[.properties]"
  application:
    name: code-review-ide
  datasource:
    url: jdbc:mysql://localhost:3306/code_review_ide?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}
            scope: read:user,user:email
logging:
  level:
    org.hibernate.SQL: debug
